version: '3.8'

services:
  grpc-server:
      depends_on:
        - postgres
        - redis
      build:
        context: ./
        dockerfile: Dockerfile
      ports:
        - "50051:50051"
        - "8080:8080"
      env_file:
        - .env.example
  redis:
    image: redis:7.2.7-alpine
    container_name: messenger_redis  
    ports:
      - "6379:6379"          
  postgres:
    image: postgres:14.15-alpine3.21
    container_name: messenger_postgres
    environment:
      POSTGRES_USER: messenger
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: messenger
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: